body {
  margin: 0px;
}

.nav {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  outline: none;
  text-decoration: none;
  text-align: center;
  color: black;
}

.main {
  background: #FF7733;
  color: black;
  font-family: Ubuntu, serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 400;
  line-height: 86px;
  letter-spacing: 0;
  text-align: left;
  width: 1519px;
  height: 3240px;
}
.main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main .header .logo {
  font-family: Ubuntu, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 57px;
  margin-left: 231px;
  margin-top: 62px;
}
.main .header .navs {
  margin: 0;
  margin-top: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}