body {
  margin: 0px;
}

.head {
  background: #000099;
  padding-top: 68px;
}
.head .header {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head .header .logo {
  width: 120px;
  height: 57px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 57px;
  color: #E6F2FF;
}
.head .header .navs {
  color: #E6F2FF;
  width: 930px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}
.head .header .navs .nav {
  text-decoration: none;
  color: #E6F2FF;
}